@media screen and (max-width: 736px) {

    ul.contact li {
        margin: 1.5em 0 0 0;
    }

}


@media screen and (max-width: 480px) {

    html, body {
        min-width: 320px;
    }

}



@media screen and (max-width: 980px) {

    body, input, select, textarea {
        font-size: 12pt;
    }

}

@media screen and (max-width: 736px) {

    body, input, select, textarea {
        font-size: 12pt;
    }

}

@media screen and (max-width: 480px) {

    body, input, select, textarea {
        font-size: 12pt;
    }

}

@media screen and (max-width: 736px) {

    h2 {
        font-size: 1em;
    }

    h3 {
        font-size: 0.8em;
    }

}

@media screen and (max-width: 736px) {

    #header {
        height: 2.75em;
        line-height: 2.75em;
    }


}

@media screen and (max-width: 1170px) {

    #banner {
        padding: 6em 0 8.25em 0 ;
        background-size: auto, cover;
        background-position: center, center;
        margin-bottom: -6.5em;
    }

}

@media screen and (max-width: 980px) {

    #banner {
        padding: 12em 3em 12.375em 3em ;
        margin-bottom: -4.75em;
    }

    #banner .inner {
        width: 100%;
    }

}

@media screen and (max-width: 736px) {

    #banner {
        padding: 5em 2em 4.25em 2em ;
        margin-bottom: -2.5em;
    }

    #banner .logo {
        margin: 0 0 1em 0;
    }

    #banner .logo .icon {
        font-size: 1.5em;
    }

    #banner h2 {
        font-size: 1.5em;
    }

    #banner p {
        font-size: 0.8em;
    }

}

@media screen and (max-width: 1050px){
    .last {
        width: 70%;
    }
}

@media screen and (max-width: 770px){
    .last {
        margin-top: -30px;
        width: 90%;
    }
}

@media screen and (max-width: 770px){
    .last {
        flex-direction: row;
    }
}
@media screen and (max-width: 800px){
    .last {
        margin-top: -10px;
        width: 90%;
    }
}

@media screen and (max-width: 630px){
    .last {
        margin-top: -50px;
        height: 90%;
    }

    .content {
        width: 100vw;
    }

    .body {
        background-image: initial;
    }
}

@media screen and (max-width: 980px){
    .last {

        width: 50%;


    }

    .content {
        background-color: rgba(255, 255, 255,.5);
    }
}


@media screen and (max-width: 980px) {

    #wrapper > header {
        padding: 11em 3em 7.375em 3em ;

        margin-bottom: -4.75em;
    }

    #wrapper > header .inner {
        width: 100%;
    }

}

@media screen and (max-width: 736px) {

    #wrapper > header {
        padding: 6.5em 2em 3em 2em ;
        background-size: auto, 125%;
        margin-bottom: -2.5em;
    }

    #wrapper > header h2 {
        font-size: 1.25em;
    }

    #wrapper > header p {
        font-size: 0.8em;
    }

}

@media screen and (max-width: 736px) {

    .wrapper {
        margin: 2.5em 0;
    }

    .wrapper:before, .wrapper:after {
        height: 2.5em;
    }

    .wrapper:before {
        top: -2.5em;
    }

    .wrapper:after {
        bottom: -2.5em;
        left: 0;
    }

    .wrapper .inner {
        padding: 2em 2em 0.1em 2em ;
    }

    .wrapper.spotlight .inner {
        -moz-align-items: -moz-flex-start;
        -webkit-align-items: -webkit-flex-start;
        -ms-align-items: -ms-flex-start;
        align-items: flex-start;
    }


}

@media screen and (max-width: 480px) {

    .wrapper.spotlight .inner {
        display: block;
    }

    .wrapper.spotlight .image {
        margin: 0 0 1em 0 !important;
        max-width: 85%;
        width: 12em;
    }

}

@media screen and (max-width: 360px) {

    .wrapper .inner {
        padding: 2em 1.5em 0.1em 1.5em ;
    }

}

@media screen and (max-width: 980px) {

    #footer {
        margin-top: -4.75em;
        padding-top: 4.75em;
    }

    #footer .inner {
        padding: 3em 3em 1em 3em ;
        display: block;
        width: 100%;
    }

    #footer .inner form {
        width: 100%;
        margin: 0 0 4em 0;
    }

    #footer .inner .contact {
        width: 100%;
        margin: 0 0 4em 0;
    }

    #footer .inner .copyright {
        margin: 4em 0 2em 0;
    }

}

@media screen and (max-width: 736px) {

    #footer {
        margin-top: -2.5em;
        padding-top: 2.5em;
    }

    #footer .inner {
        padding: 2em 2em 0.1em 2em ;
    }

    #footer .inner form {
        margin: 0 0 3em 0;
    }

    #footer .inner .contact {
        margin: 0 0 3em 0;
    }

}

@media screen and (max-width: 480px) {

    #footer .inner .copyright li {
        border-left: 0;
        display: block;
        margin: 1em 0 0 0;
        padding-left: 0;
    }

    #footer .inner .copyright li:first-child {
        margin-top: 0;
    }

}

@media screen and (max-width: 360px) {

    #footer .inner {
        padding: 2em 1.5em 0.1em 1.5em ;
    }

}

@media screen and (max-width: 1280px) {

    #footer {
        margin-top: -6.5em;
        padding-top: 6.5em;
    }

}

@media screen and (max-width: 980px) {

    .wrapper {
        margin: 4.75em 0;
    }

    .wrapper:before, .wrapper:after {
        height: 4.75em;
    }

    .wrapper:before {
        top: -4.75em;
    }

    .wrapper:after {
        bottom: -4.75em;
        left: 0;
    }

    .wrapper .inner {
        padding: 3em 3em 1em 3em ;
        width: 100%;
    }
}
